---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialLinks from "../components/SocialLinks.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from  "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import { Image } from "astro:assets";
import logo from "../assets/marco.jpg";
import aboutMePicture from "../assets/marco-2.png";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import UserIcon from "../icons/User.astro";
import AboutMe from "../components/AboutMe.astro";
import ClipboardIcon from "../icons/Clipboard.astro"
import Footer from "../components/Footer.astro";
---

<Layout
  title="Portfolio de Marco - Desarrollador y Programador Web con m치s de 3 a침os de experiencia"
  description="Contrata a Marco para crear tu p치gina web 칰nica y sostenible. Especializado en crear p치ginas web 칰icas y fiables."
>
  <main class="px-6">
    <SectionContainer class="py-12">
      <Image class="rounded-full size-20 mb-8 hover:scale-125 transition-transform duration-300" src={logo} alt="logo" />
      <h1 class="text-white text-2xl md:text-4xl lg:text-4xl font-bold flex flex-row gap-x-3 pb-6 lg:pb-10">
        Buenas, mi nombre es <strong class="text-yellow-300">Marco</strong>
        <div class="flex justify-center items-center ml-6">
          <a href="https://www.linkedin.com/in/marco-rodriguez-rey-b082361b9/" target="_blank"
            rel="noopener"><Badge>Disponible para trabajar</Badge></a>
        </div>
      </h1>
      <h2 class="text-xl lg:text-1xl text-wrap max-w-[700px]">
        +3 a침os de experiencia. <strong class="text-orange-400"
          >Estudiante de segundo a침o de Grado Superior de DAW</strong
        >. Soy de Madrid, Espa침a 游쀯릖 . <span class="opacity-85"
          >Especializado en crear webs 칰nicas.</span
        >
      </h2>

      <ul class="flex gap-x-4 mt-6 flex-wrap">
        <li class="hover:scale-110 transition-transform pb-4">
          <SocialLinks
            href="https://www.linkedin.com/in/marco-rodriguez-rey-b082361b9/"
          >
            <LinkedInIcon class="size-4 lg:size-6" />
            <span class="hover:text-pink-300">LinkedIn</span>            
          </SocialLinks>
        </li>
        <li class="hover:scale-110 transition-transform">
          <SocialLinks href="https://github.com/Markix1">
            <GitHubIcon class="size-4 lg:size-6" />
            <span class="hover:text-pink-300">GitHub</span>
          </SocialLinks>
        </li>
        <li class="hover:scale-110 transition-transform">
          <SocialLinks href="https://github.com/Markix1">
            <MailIcon class="size-4 lg:size-6" />
            <span class="hover:text-pink-300">marco.valdemoro@gmail.com</span>
          </SocialLinks>
        </li>
      </ul>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold flex gap-x-3 items-center">
        <BriefcaseIcon class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mt-48 mb-6 flex gap-x-4 items-center">
        <ClipboardIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me" class="py-10">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
        <UserIcon class="size-9" />
        Sobre M칤
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>