---
import { Image } from 'astro:assets';

import AboutMePicture from '../assets/marco-2.png';
---

<div class="container-card flex items-center gap-x-14">
  <p>Me llamo Marco, tengo 20 años y vivo en Madrid, España. Tengo un hermano y una hermana y ambos son mayores que yo. Mi hermano se llama Carlos 
    y tiene 21 años y mi hermana se llama Eva y tiene 25. Mis padres se llaman Milena y Eugenio y tienen 53 y 73 años respectivamente. Además, tenemos
    dos mascotas, una tortuga llamada Tortu y una perrita llamada Mia. Actualmente estoy estudiando un grado superior de Desarrollo de Aplicaciones Web
    ya que desde siempre me ha gustado el mundo de la tecnología y los ordenadores. En mi tiempo libre me gusta programar, ver anime, realizar algún deporte
    o ir al gimnasio.
  </p>
  <Image class="hover:scale-110 transition" src={AboutMePicture} width="250" alt='foto About Me' />
</div>