---
import { Image } from 'astro:assets';

import AboutMePicture from '../assets/marco-2.png';
---

<div class="container-card flex items-center gap-x-14">
  <p>Buenas! mi nombre es Marco, tengo <span class="text-yellow-800 dark:text-yellow-300">20 años y vivo en Madrid, España.</span> 
    Tengo 2 hermanos mayores y dos mascotas, una tortuga y una perra. Actualmente estoy estudiando un <span class="text-yellow-800 dark:text-yellow-300">
    máster de Full Stack Developer</span> ya que desde siempre me ha gustado el mundo de la tecnología y los ordenadores. 
    Aparte de la programación y la informática también me gustan los coches y las carreras. En mis ratos libres suelo 
    <span class="text-yellow-800 dark:text-yellow-300">programar proyectos personales o despejar la mente viendo algún 
      vídeo de otro tema, practicando tenis de mesa o yendo al gimnasio.</span>
  </p>
  <Image class="hover:scale-110 transition" src={AboutMePicture} width="250" alt='foto About Me' />
</div>
