---
import { Image } from 'astro:assets';

import AboutMePicture from '../assets/marco-2.png';
---

<div class="container-card flex items-center gap-x-14">
  <p>Me llamo Marco, tengo <span class="text-yellow-800 dark:text-yellow-300">19 años y vivo en Madrid, España.</span> Tengo un hermano y una hermana de 21 y 24 años respectivamente. Mis padres se llaman Milena y Eugenio y tienen 53 y 73 años respectivamente. Además, tenemos
    dos mascotas, una tortuga y una perra. Actualmente estoy estudiando un <span class="text-yellow-800 dark:text-yellow-300">máster de Full Stack Developer</span> ya que desde siempre me ha gustado el mundo de la tecnología y los ordenadores. En mi tiempo libre <span class="text-yellow-800 dark:text-yellow-300">me gusta programar, ver anime, realizar algún deporte 
    o ir al gimnasio</span>.
  </p>
  <Image class="hover:scale-110 transition" src={AboutMePicture} width="250" alt='foto About Me' />
</div>