<header class="flex justify-center items-center py-10 w-full xl:w-[1120px] mx-auto">  
    <nav class="flex flex-row gap-x-8 font-bold">
        <a class="hover:text-orange-400 transition-all" href="#">Inicio</a>
        <a class="hover:text-orange-400 transition-all" href="#experience">Experiencia</a>
        <a class="hover:text-orange-400 transition-all" href="#projects">Proyectos</a>
        <a class="hover:text-orange-400 transition-all" href="#about-me">Sobre Mí</a>
        <a class="hover:text-orange-400 transition-all" href="#footer">Contacto</a>
    </nav>
</header>